.header {
background-color: lightblue;
color: black;
text-align: center;
}

.main {
  background-color: orange;
  color: black;
  
}

footer{
  background-color: darkgreen;
  color: grey;

}

#javaimg{
text-align: center;
padding: 10px;
height: 270;
width: 280;

}

#cppimg{
text-align: center;
padding: 20px;
padding-right: 100px;
height: 200;
width: 180;

}

#pyimg{
text-align: center;
padding: 10px;
height: 200;
width: 180;

}

#jsimg{
text-align: center;
padding: 0px;
height: 220;
width: 430;
}

.google{
text-align: center;
font-family: cursive;
font-size: 18;
width: 150px;
height: 40px;
color: brown;
transition: transform 0.3s; 
}

.google:hover{
text-align: center;
font-family: cursive;
font-size: 18.5;
width: 160px;
height: 45px;
color: blueviolet;
transform: translateY(5px);
}

.google:active{
text-align: center;
font-family: cursive;
font-size: 20;
width: 160px;
height: 45px;
color: blueviolet;
transform: translateY(5px);
}

